@use "node_modules/@material/button/button";
@use "node_modules/@material/button" as mdc-button;
@use "app/styles/shared";

@include button.core-styles;

/// Set the button theme
///
/// @param {color} $buttonColor the color of the button
/// @param {color} $outlineColor the color of the button's outline
/// @param {color} $disabledColor the color of the button when it is disabled
/// @param {color} $iconButtonRippleColor the color of the ripple of an icon button
@mixin theme($buttonColor, $outlineColor, $disabledColor, $iconButtonRippleColor) {
  .themed-button {
    --mdc-theme-primary: #{$buttonColor};
    @include mdc-button.outline-color($outlineColor);
    @include mdc-button.disabled-ink-color($disabledColor);
    @include mdc-button.disabled-outline-color($disabledColor);

    @include shared.transition-color();
  }

  .main-data-table__action-button:disabled {
    color: $disabledColor;

    @include shared.transition-color();
  }

  .main-data-table__action-button:before, .main-data-table__action-button:after {
    background-color: $iconButtonRippleColor;

    @include shared.transition-color();
  }
}