@use "node_modules/@material/list/mdc-list";
@use "node_modules/@material/menu-surface/mdc-menu-surface";
@use "node_modules/@material/menu/mdc-menu";
@use "node_modules/@material/menu-surface";
@use "node_modules/@material/list" as list;
@use "app/styles/shared";

/// Set the menu theme
///
/// @param {color} $backgroundColor the background color of the menu
/// @param {color} $textColor the text color of the menu
/// @param {color} $hoverColor the color of menu items on hover
/// @param {color} $activeColor the color of menu items on mouse click
@mixin theme($backgroundColor, $textColor, $hoverColor, $activeColor) {
  .themed-menu-surface {
    @include menu-surface.fill-color($backgroundColor);
    @include menu-surface.ink-color($textColor);
    @include shared.transition-color();

    .mdc-list {
      @include list.item-primary-text-ink-color($textColor);
      @include shared.transition-color();

      .mdc-list-item {
        transition: background-color 0.125s ease-in-out;

        &:hover {
          background-color: $hoverColor;
        }

        &:active {
          background-color: $activeColor;
        }
      }
    }
  }
}