@use "node_modules/@material/icon-button";
@use "node_modules/@material/top-app-bar/mdc-top-app-bar";
@use "node_modules/@material/top-app-bar" as top-app-bar;
@use "app/styles/shared";

@include icon-button.core-styles;

.mdc-top-app-bar--dense-fixed-adjust {
  margin-top: 48px;
  overflow: auto;
  padding: 10px;
}

/// Set the top app bar theme
///
/// @param {color} $background the top app bar background color
/// @param {color} $textColor the top app bar title and icon color
/// @param {color} $secondaryTextColor the top app bar secondary text color
@mixin theme($background, $textColor, $secondaryTextColor) {
  .themed-top-app-bar {
    @include top-app-bar.fill-color($background);
    @include top-app-bar.ink-color($textColor);

    @include shared.transition-color();

    // The top app bar secondary title
    .top-app-bar-title__secondary {
      // Add a space before the text
      &:before {
        content: " ";
      }

      color: $secondaryTextColor;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
  }
}