@use "node_modules/@material/icon-button";
@use "node_modules/@material/top-app-bar/mdc-top-app-bar";
@use "node_modules/@material/top-app-bar" as top-app-bar;
@use "app/styles/shared";

@include icon-button.core-styles;

.mdc-top-app-bar--dense-fixed-adjust {
  padding-top: 0;
  margin-top: 48px;
  overflow: auto;
}

/// Set the top app bar theme
///
/// @param {color} $background the top app bar background color
/// @param {color} $textColor the top app bar title and icon color
@mixin theme($background, $textColor) {
  .themed-top-app-bar {
    @include top-app-bar.fill-color($background);
    @include top-app-bar.ink-color($textColor);

    @include shared.transition-color();
  }
}