@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}

.after-space:after {
  content: " ";
}

$font: 'Open Sans', sans-serif;