/// Create an inline animation
///
/// @param $animation the animation properties (except the name)
@mixin custom-inline-animation($animation) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation: $name $animation;
}

/// Create an inline animation
///
/// @param {number] $duration the duration of the animation
@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}

/// Transition the color change
@mixin transition-color() {
  transition: all 0.25s ease-in-out;
  transition-property: color, background-color, background, --mdc-theme-primary, border-color, border-bottom-color,
  border-top-color, border-left-color, border-right-color, --mdc-checkbox-unchecked-color;
}

// Adds a space after the element
.after-space:after {
  content: " ";
}

$font: 'Open Sans', sans-serif;