@use "mdc/DataTable";
@use "mdc/Button";
@use "mdc/TopAppBar";
@use "mdc/Tooltip";
@use "mdc/switch";
@use "mdc/Snackbar";
@use "mdc/ProgressIndicator";
@use "mdc/Menu";
@use "mdc/Dialog";
@use "mdc/TextField";
@use "mdc/Checkbox";
@use "mdc/Ripple";
@use "mdc/Chip";
@use "mdc/HelperText";

@use "dialogs/SwipeDialog";
@use "dialogs/DoneDialog";
@use "dialogs/SettingsDialog";
@use "dialogs/FileEditor";
@use "dialogs/ErrorDialog";
@use "dialogs/LicenseViewer";
@use "elements/SearchBox";
@use "elements/DataTableElement";
@use "elements/Checkmark";
@use "elements/FileInfo";
@use "elements/PropertyField";
@use "elements/ChipTextArea";
@use "elements/Drawer";
@use "pages/DatabaseConfigurator";
@use "pages/LoadRecentPage";
@use "pages/LoadScreen";
@use "pages/StartScanScreen";
@use "pages/StartScreen";
@use "pages/LoadingScreen";

@use "shared";
@use "Scrollbar";

/// Set the theme colors
///
/// @param {color} $background            the background color for all elements
/// @param {color} $themeColor            the main theme color for mdc components (buttons, progress bars, ...)
/// @param {color} $lightThemeColor       a lighter theme color for mdc components (used for text field outlines)
/// @param {color} $textColor             the main text color for almost all text elements
/// @param {color} $borderColor           the main color for borders (outlines, other borders, ...)
/// @param {color} $darkTextColor         the color for darker text elements
/// @param {color} $buttonOutlineColor    the color of the button outlines
/// @param {color} $codeBackgroundColor   the background color of the selected directory text elements
/// @param {color} $hoverColor            the color for data table rows when the user hovers over one ot those
/// @param {color} $hoverOutlineColor     the outline color of a text field on mouse hover
/// @param {color} $activeColor           the color of a selected menu element (mouse click+hold or just click)
/// @param {color} $topAppBarColor        the color of all top app bars
/// @param {color} topAppBarTextColor     the color of all top app bar titles and icons
/// @param {color} $hideBackgroundColor   the color of elements hiding the main content (used with dialogs)
/// @param {color} $codeTextColor         the color of the selected directory texts
/// @param {color} $disabledButtonColor   the color of disabled buttons and their outlines
/// @param {color} $iconColor             the color of the folder or document icons in the main data table
/// @param {color} $okIconColor           the color of the ok icon in the main data table
/// @param {color} $errorIconColor        the color of the error icon in the main data table
/// @param {color} $dataTableLoadingColor the color of the main data table when loading
/// @param {color} $iconButtonRippleColor the color of the ripple of an icon button in the main data table
/// @param {color} $errorDialogButtonColor the error dialog button color (should be some kind of red)
/// @param {color} $scrollbarHoverColor   the color of the scroll bar on hover
@mixin theme($background, $themeColor, $lightThemeColor, $textColor, $borderColor, $darkTextColor, $buttonOutlineColor,
              $codeBackgroundColor, $hoverColor, $hoverOutlineColor, $activeColor, $topAppBarColor,
              $topAppBarTextColor, $hideBackgroundColor, $codeTextColor, $disabledButtonColor, $iconColor,
              $okIconColor, $errorIconColor, $dataTableLoadingColor, $iconButtonRippleColor, $errorDialogButtonColor,
              $scrollbarHoverColor, $chipColor) {
  @include SwipeDialog.theme($background, $textColor, $topAppBarColor, $topAppBarTextColor, $hideBackgroundColor);
  @include DoneDialog.theme($background, $hideBackgroundColor, $themeColor, $textColor);
  @include DataTable.theme($background, $borderColor, $textColor, $hoverColor, $disabledButtonColor);
  @include TopAppBar.theme($topAppBarColor, $topAppBarTextColor);
  @include TextField.theme($lightThemeColor, $borderColor, $darkTextColor, $hoverOutlineColor);
  @include Dialog.theme($themeColor, $background, $darkTextColor, $darkTextColor);
  @include Button.theme($themeColor, $buttonOutlineColor, $disabledButtonColor, $iconButtonRippleColor);
  @include LoadingScreen.theme($background, $themeColor, $darkTextColor, $hideBackgroundColor);
  @include SearchBox.theme($lightThemeColor, $textColor, $borderColor);
  @include DatabaseConfigurator.theme($textColor);
  @include LoadRecentPage.theme($textColor, $borderColor, $darkTextColor);
  @include LoadScreen.theme($textColor);
  @include StartScanScreen.theme($textColor, $codeBackgroundColor, $borderColor, $themeColor, $codeTextColor);
  @include StartScreen.theme($textColor, $borderColor);
  @include ProgressIndicator.theme($themeColor, $dataTableLoadingColor);
  @include Menu.theme($background, $darkTextColor, $hoverColor, $activeColor);
  @include DataTableElement.theme($iconColor, $okIconColor, $errorIconColor);
  @include SettingsDialog.theme($borderColor);
  @include Ripple.theme($iconButtonRippleColor);
  @include FileEditor.theme($textColor);
  @include ErrorDialog.theme($textColor, $errorDialogButtonColor, $codeBackgroundColor, $codeTextColor);
  @include Checkmark.theme($background);
  @include FileInfo.theme($borderColor, $darkTextColor, $textColor);
  @include HelperText.theme($textColor);
  @include Scrollbar.theme($background, $borderColor, $scrollbarHoverColor);
  @include PropertyField.theme($borderColor);
  @include Chip.theme($chipColor);
  @include ChipTextArea.theme($background, $darkTextColor, $hoverColor, $activeColor);
  @include Drawer.theme($background, $textColor, $themeColor, $borderColor);
}

body {
  -ms-overflow-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include shared.transition-color();

  $background: white;
  $themeColor: blue;
  $textColor: #464646;
  $borderColor: #b7b7b7;
  $darkTextColor: #000000de;
  $buttonOutlineColor: #0000001f;
  $lightThemeColor: #4a6eff;
  $codeBackgroundColor: #dedede;
  $hoverColor: rgba(0, 0, 0, 0.04);
  $hoverOutlineColor: black;
  $activeColor: #c5c5c5;
  $topAppBarColor: #214456;
  $topAppBarTextColor: white;
  $hideBackgroundColor: #2d2d2d6e;
  $disabledButtonColor: #00000061;
  $iconColor: black;
  $okIconColor: green;
  $errorIconColor: red;
  $dataTableLoadingColor: #ffffff;
  $iconButtonRippleColor: black;
  $errorDialogButtonColor: #ff0000;
  $scrollbarHoverColor: #919191;
  $chipColor: #e0e0e0;

  @include theme($background, $themeColor, $lightThemeColor, $textColor, $borderColor, $darkTextColor,
          $buttonOutlineColor, $codeBackgroundColor, $hoverColor, $hoverOutlineColor, $activeColor,
          $topAppBarColor, $topAppBarTextColor, $hideBackgroundColor, $textColor, $disabledButtonColor,
          $iconColor, $okIconColor, $errorIconColor, $dataTableLoadingColor, $iconButtonRippleColor,
          $errorDialogButtonColor, $scrollbarHoverColor, $chipColor);

  background: $background;

  &.dark-theme {
    $background: #1d1d1d;
    $themeColor: #4a6eff;
    $textColor: #efefef;
    $borderColor: #757575;
    $darkTextColor: #ffffff;
    $buttonOutlineColor: #7C7C7C;
    $codeBackgroundColor: #dedede;
    $hoverColor: #C3C3C30A;
    $hoverOutlineColor: #a9a9a9;
    $activeColor: #333333;
    $hideBackgroundColor: #00000085;
    $codeTextColor: black;
    $disabledButtonColor: #c3c3c361;
    $iconColor: #bfbfbf;
    $okIconColor: #68d015;
    $errorIconColor: #de4a4a;
    $dataTableLoadingColor: #484848;
    $iconButtonRippleColor: #b9b9b9;
    $errorDialogButtonColor: #ff4242;
    $scrollbarHoverColor: #4f4f4f;
    $chipColor: #c7c7c7;

    @include theme($background, $themeColor, $lightThemeColor, $textColor, $borderColor, $darkTextColor,
            $buttonOutlineColor, $codeBackgroundColor, $hoverColor, $hoverOutlineColor, $activeColor,
            $topAppBarColor, $topAppBarTextColor, $hideBackgroundColor, $codeTextColor, $disabledButtonColor,
            $iconColor, $okIconColor, $errorIconColor, $dataTableLoadingColor, $iconButtonRippleColor,
            $errorDialogButtonColor, $scrollbarHoverColor, $chipColor);

    background: $background;
  }
}