@use "app/styles/shared";

.database-configurator__subheading {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.database-configurator__setup {
  margin-top: 15px;
}

.database-configurator__info-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.database-config-dialog__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/// Set the database configurator theme
///
/// @param {color} $textColor the color of any text
@mixin theme($textColor) {
  .database-configurator__subheading {
    color: $textColor;
    @include shared.transition-color();
  }

  .database-configurator__info-text {
    color: $textColor;
    @include shared.transition-color();
  }

  .database-config-dialog__text {
    color: $textColor;
    @include shared.transition-color();
  }
}