@use "app/styles/shared";

.load-screen-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: max-content;
}

.load-screen-load-button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.load-screen-container {
  height: 100%;
  display: grid;
}

/// Set the load screen theme
///
/// @param {color} $textColor the color of any text
@mixin theme($textColor) {
  .load-screen-heading {
    color: $textColor;
    @include shared.transition-color();
  }
}
