.load-screen-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: max-content;
  color: #464646;
}

.load-screen-load-button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.load-screen-container {
  height: 100%;
  display: grid;
}
