@use "app/styles/shared";

.load-recent-page__main-cell {
  padding: 12px;
}

.load-recent-page__heading {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 6px 0;
  width: max-content;
  font-size: 26px;
}

.load-recent-page__heading-container {
  width: max-content;
  margin-bottom: 10px;
}

.load-recent-page__paragraph {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15.2px;
}

.load-recent-page__info-param {
  font-weight: 300;
}

/// Set the load recent page theme
///
/// @param {color} $textColor the color of any text
/// @param {color} $borderColor the color of the borders on that page
/// @param {color} $paragraphColor the color of any paragraph texts
@mixin theme($textColor, $borderColor, $paragraphColor) {
  .load-recent-page__heading {
    color: $textColor;
    @include shared.transition-color();
  }

  .load-recent-page__heading-container {
    border-bottom: 1px solid $borderColor;
    @include shared.transition-color();
  }

  .load-recent-page__paragraph {
    color: $paragraphColor;
    @include shared.transition-color();
  }
}