.scan-loading-screen__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;

  &.visible {
    display: block;
  }
}

.scan-loading-screen__dialog {
  position: absolute;
  width: 400px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -200px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.scan-loading-screen__heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.scan-loading-screen__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: 30px;
  margin-right: 30px;
}

/// Set the loading screen theme
///
/// @param {color} $backgroundColor the loading screen background color
/// @param {color} $themeColor the mdc theme color
/// @param {color} $textColor the color of any text
/// @param {color} $hideBackgroundColor the color of the element hiding the background
@mixin theme($backgroundColor, $themeColor, $textColor, $hideBackgroundColor) {
  .scan-loading-screen__dialog {
    background-color: $backgroundColor;
    --mdc-theme-primary: #{$themeColor};
  }

  .scan-loading-screen__heading {
    color: $textColor;
  }

  .scan-loading-screen__text {
    color: $textColor;
  }

  .scan-loading-screen__background {
    background-color: $hideBackgroundColor;
  }
}
