.start-scan-screen {
  margin: auto;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  display: grid;
  max-width: 800px;
}

.start-scan-screen-container {
  height: 100%;
  display: grid;
}

.start-scan-screen-grid-element {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 0 20px 15px 20px;
}

.start-scan-path {
  border-radius: 4px;
  padding: 2.5px 4px;
}

.start-scan-screen-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: max-content;
}

.start-scan-screen-subheading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.start-scan-screen-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.start-scan-screen-explanation {
  padding: 0 20px;
}

.start-scan-screen-scan-button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .start-scan-screen {
    border-style: hidden;
    margin: 0 0 auto 0;
    max-width: unset;
  }
}

@mixin theme($textColor, $codeBackgroundColor, $borderColor, $themeColor, $codeTextColor) {
  .start-scan-screen {
    --mdc-theme-primary: #{$themeColor};
    border-color: $borderColor;
  }

  .start-scan-screen-grid-element {
    border-bottom-color: $borderColor;
  }

  .start-scan-path {
    color: $codeTextColor;
    background-color: $codeBackgroundColor;
  }

  .start-scan-screen-heading {
    color: $textColor;
  }

  .start-scan-screen-subheading {
    color: $textColor;
  }

  .start-scan-screen-text {
    color: $textColor;
  }
}