.start-scan-screen {
  --mdc-theme-primary: blue;
  margin: auto;
  border-radius: 5px;
  border-color: #a5a5a5;
  border-width: 1px;
  border-style: solid;
  display: grid;
  max-width: 800px;
}

.start-scan-screen-container {
  height: 100%;
  display: grid;
}

.start-scan-screen-grid-element {
  border-bottom-color: #a5a5a5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 0 20px 15px 20px;
}

.start-scan-path {
  background-color: #dedede;
  border-radius: 4px;
  padding: 0 4px;
}

.start-scan-screen-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: max-content;
  color: #464646;
}

.start-scan-screen-subheading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #464646;
}

.start-scan-screen-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #464646;
}

.start-scan-screen-explanation {
  padding: 0 20px;
}

.start-scan-screen-scan-button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .start-scan-screen {
    border-style: hidden;
    margin: 0 0 auto 0;
    max-width: unset;
  }
}