@import "app/styles/shared";

// The start screen container
.start-screen-container {
  border-radius: 5px;
  border-width: 1px;
  margin: 20px;
  border-style: solid;
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-rows: min-content auto auto;
}

// A start screen heading
.start-screen-heading {
  font-family: $font;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: max-content;
}

// A start screen list
.start-screen-list {
  font-family: $font;
  font-weight: 300;
}

/// Set the start screen theme
///
/// @param {color} $textColor the color of any text
/// @param {color} $borderColor the color of any border
@mixin theme($textColor, $borderColor) {
  // A start screen heading container
  .start-screen-heading-container {
    border-bottom: 1px solid $borderColor;
  }

  .start-screen-list {
    color: $textColor;
  }

  .start-screen-heading {
    color: $textColor;
  }

  .start-screen-container {
    border-color: $borderColor;
  }
}