// The done dialog width
$width: 375px;
// The done dialog height
$height: 170px;
// The done dialog max height
$maxHeight: 90vh;
// The done dialog max width
$maxWidth: 90vw;
// The duration it takes to show or hide the dialog
$showHideDuration: 0.125s;
// The scale to start increasing from when showing the dialog
$scaleFrom: 0.8;

@use "app/styles/shared";

.done-dialog__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  display: none;

  // The hidden done dialog background
  &.hidden {
    display: block;
    // Hide the done dialog background
    @include shared.inline-animation($showHideDuration) {
      0% {
        display: block;
        opacity: 1;
      }
      99% {
        display: block;
        opacity: 0;
      }
      100% {
        display: none;
        opacity: 0;
      }
    }

    // The hidden done dialog
    .done-dialog__dialog {
      // Hide the done dialog
      @include shared.inline-animation($showHideDuration) {
        0% {
          transform: scale(1, 1);
        }
        100% {
          transform: scale(#{$scaleFrom}, #{$scaleFrom});
        }
      }
    }
  }

  // The visible done dialog background
  &.visible {
    opacity: 1;
    display: block;
    // Show the done dialog background
    @include shared.inline-animation($showHideDuration) {
      0% {
        display: none;
        opacity: 0;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: block;
        opacity: 1;
      }
    }

    // The visible done dialog
    .done-dialog__dialog {
      // Show the done dialog
      @include shared.inline-animation($showHideDuration) {
        0% {
          transform: scale(#{$scaleFrom}, #{$scaleFrom});
        }
        100% {
          transform: scale(1, 1);
        }
      }
    }
  }
}

// The actual done dialog content
.done-dialog__dialog {
  width: $width;
  height: $height;
  max-width: $maxWidth;
  max-height: $maxHeight;
  border-radius: 6px;
  top: calc(50% - calc(min(#{$height}, #{$maxHeight}) / 2));
  left: calc(50% - calc(min(#{$width}, #{$maxWidth}) / 2));
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --mdc-theme-primary: blue;
  position: absolute;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

// The done dialog text
.done-dialog__text {
  font-family: shared.$font;
  font-weight: 300;
  width: max-content;
  margin: auto;
  font-size: 24px;
}

/// Apply a theme to the done dialog
///
/// @param {color} $background the background color
/// @param {color} $hideBackgroundColor the color of the element hiding the background
/// @param {color} $themeColor the main theme color
/// @param {color} $textColor any text elements
@mixin theme($background, $hideBackgroundColor, $themeColor, $textColor) {
  .done-dialog__dialog {
    background: $background;
    @include shared.transition-color();
  }

  .done-dialog__background {
    background-color: $hideBackgroundColor;
    @include shared.transition-color();
  }

  .done-dialog__dialog {
    --mdc-theme-primary: #{$themeColor};
    @include shared.transition-color();
  }

  .done-dialog__text {
    color: $textColor;
    @include shared.transition-color();
  }
}