@use "app/styles/shared";

/// Set the file editor theme
///
/// @param {color} $textColor the text color
@mixin theme($textColor) {
  .file-editor-creation-date-container {
    color: $textColor;
    @include shared.transition-color();

    .react-date-picker__inputGroup__input {
      color: $textColor;
      @include shared.transition-color();
    }

    .react-date-picker__button__icon {
      stroke: $textColor;
      @include shared.transition-color();
    }
  }
}

.file-editor-creation-date-container {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 10px;
  margin: 20px auto;
  width: fit-content;
  font-family: sans-serif;

  .react-calendar__month-view__weekdays__weekday {
    color: #464646;
  }
}