// The swipe dialog width
$width: 500px;
// The swipe dialog height
$height: 600px;
// The swipe dialog max height
$maxHeight: 90vh;
// The swipe dialog max width
$maxWidth: 90vw;
// The swipe dialog title bar height
$titleBarHeight: 46px;
// The swipe to start increasing from when showing the dialog
$scaleFrom: 0.8;
// The duration it takes to show or hide the dialog
$showHideDuration: 0.125s;

@import "app/styles/shared";

// The sync dialog background
.swipe-dialog__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #2d2d2d6e;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 0;
  display: none;

  // The hidden sync dialog background
  &.hidden {
    display: block;
    // Hide the sync dialog background
    @include inline-animation($showHideDuration) {
      0% {
        display: block;
        opacity: 1;
      }
      99% {
        display: block;
        opacity: 0;
      }
      100% {
        display: none;
        opacity: 0;
      }
    }

    // The hidden sync dialog
    .swipe-dialog__dialog {
      // Hide the sync dialog
      @include inline-animation($showHideDuration) {
        0% {
          transform: scale(1, 1);
        }
        100% {
          transform: scale(#{$scaleFrom}, #{$scaleFrom});
        }
      }
    }
  }

  // The visible swipe dialog background
  &.visible {
    opacity: 1;
    display: block;
    // Show the sync dialog background
    @include inline-animation($showHideDuration) {
      0% {
        display: none;
        opacity: 0;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: block;
        opacity: 1;
      }
    }

    // The visible sync dialog
    .swipe-dialog__dialog {
      // Show the sync dialog
      @include inline-animation($showHideDuration) {
        0% {
          transform: scale(#{$scaleFrom}, #{$scaleFrom});
        }
        100% {
          transform: scale(1, 1);
        }
      }
    }
  }
}

// The swipe dialog
.swipe-dialog__dialog {
  background: white;
  width: $width;
  height: $height;
  max-width: $maxWidth;
  max-height: calc(#{$maxHeight} - #{$titleBarHeight});
  border-radius: 6px;
  top: calc(50% - calc(min(#{$height}, calc(#{$maxHeight} - #{$titleBarHeight})) / 2));
  left: calc(50% - calc(min(#{$width}, #{$maxWidth}) / 2));
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --mdc-theme-primary: blue;
  position: absolute;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

// The swipe dialog top bar
.swipe-dialog__dialog-top-bar {
  width: 100%;
  height: 48px;
  background-color: #214456;
}

// The swipe dialog actions
.swipe-dialog__actions {
  display: grid;
  grid-template-columns: min-content max-content;
  width: max-content;
  margin-left: auto;
  top: 100%;
  column-gap: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

// The swipe dialog title
.swipe-dialog__title {
  font-family: $font;
  color: white;
  margin: auto;
  width: max-content;
  font-size: 28px;
  font-weight: 300;
}

// The swipe dialog content container
.swipe-dialog__content {
  width: 100%;
  height: 100%;
  position: relative;
}

// A swipe dialog element that
// can be swiped to the left
.swipe-dialog__swipe-element {
  $dialogContentPadding: 25px;
  $animationDuration: 0.5s;
  $swipeMargin: -110%;

  font-family: $font;
  font-weight: 300;
  color: #4a4a4a;
  margin-right: $swipeMargin;
  width: calc(100% - #{$dialogContentPadding * 2});
  padding: $dialogContentPadding;
  position: absolute;
  right: $swipeMargin;

  // When the element is in the center (visible)
  &.centered {
    right: 0;
    left: 0;
    @include inline-animation($animationDuration) {
      0% {
        left: abs($swipeMargin);
      }
      100% {
        left: 0;
      }
    }
  }

  // When the element is swiped out of frame
  &.left {
    left: $swipeMargin;
    right: 0;
    @include inline-animation($animationDuration) {
      0% {
        left: 0;
      }
      100% {
        left: $swipeMargin;
      }
    }
  }

  // The element to start with
  &.start-page {
    right: 0;
    left: 0;
  }
}