<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta content="default-src 'self'; font-src https://fonts.gstatic.com data: 'self';
    style-src-elem https://fonts.googleapis.com 'self' 'unsafe-inline'; img-src data:"
          http-equiv="Content-Security-Policy">
    <link href="preload.css" rel="stylesheet">
</head>
<body>
<div id="content-root">
    <!-- This is reacts property now -->
</div>

<div id="file-editor-dialog-container">
    <!-- The file editor dialog goes in here -->
</div>

<div id="tooltip-container">
    <!-- Any tooltips will be generated into here-->
</div>

<div id="loading-screen-container">
    <!-- Any loading screens will be generated into here -->
</div>

<div id="database-config-dialog-container">
    <!-- The database config dialog will be generated into here -->
</div>

<div id="error-dialog-container">
    <!-- The error dialog will be generated into here-->
</div>

<div id="settings-dialog-container">
    <!-- The settings dialog will be generated into here -->
</div>

<div id="snackbars-container">
    <!-- All snackbars will be generated into here -->
</div>

<div id="sync-dialog-container">
    <!-- The sync dialog will be generated into here -->
</div>

<div id="done-dialog-container">
    <!-- The done dialog will be generated into here -->
</div>

<div id="root-dir-selector-dialog-container">
    <!-- The root directory selector will be generated into here -->
</div>

<div id="copy-database-dialog-container">
    <!-- The copy-database dialog will be generated into here -->
</div>

<div id="database-info-dialog-container">
    <!-- The database info dialog will be generated into here -->
</div>

<div id="license-dialog-container">
    <!-- The license dialog will be generated into here -->
</div>

<div id="bulk-edit-fab-container">
    <!-- The bulk edit fab will be generated into here -->
</div>

<div id="multi-file-editor-dialog-container">
    <!-- The multi file editor dialog goes in here -->
</div>

<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>