@import "../shared";

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke-miterlimit: 10;
  margin: 25px auto auto auto;
  box-shadow: inset 0 0 0 #7ac142;

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
  }

  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
  }

  &.animate {
    animation: checkmark__fill 0.4s ease-in-out 0.4s forwards, checkmark__scale 0.3s ease-in-out 0.9s both;

    .checkmark__circle {
      @include custom-inline-animation(0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards) {
        100% {
          stroke-dashoffset: 0;
        }
      }
    }

    .checkmark__check {
      @include custom-inline-animation(0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards) {
        100% {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}

@keyframes checkmark__scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes checkmark__fill {
  100% {
    box-shadow: inset 0 0 0 30px #7ac142;
  }
}

@mixin theme($checkmarkColor) {
  .checkmark {
    stroke: $checkmarkColor;
  }
}