.property-field__container {
  border-radius: 5px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  padding: 0 20px;
  margin: 20px auto;
}

.property-field__remove-button.mdc-button.themed-button {
  margin-top: 5px;
  margin-bottom: 5px;
}