@use "app/styles/shared";

.search-box__container {
  padding: 0;

  .search-box__main-content {
    margin-top: 0;
    display: none;
    height: 0;
  }

  &.visible {
    padding: 0 20px 20px 20px;

    .search-box__main-content {
      height: unset;
      display: grid;
    }
  }
}

.search-box__exact-match-container {
  display: grid;
  grid-template-columns: max-content auto;
}

.search-box__exact-match-text {
  font-family: sans-serif;
  margin: auto;
}

.search-box__date-range-container {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 10px;
  width: fit-content;
  margin: 20px auto 0 auto;
}

.search-box__date-range-text {
  font-family: sans-serif;
  margin: auto;
}

/// Set the search box theme
///
/// @param {color} $highlightColor the border color of text fields
/// @param {color} $textColor the text color
@mixin theme($highlightColor, $textColor) {
  .search-box__container {
    --mdc-theme-primary: #{$highlightColor};
    @include shared.transition-color();
  }

  .search-box__exact-match-container {
    color: $textColor;
    --mdc-checkbox-unchecked-color: #{$textColor};
    @include shared.transition-color();
  }

  .search-box__date-range-container {
    color: $textColor;
    @include shared.transition-color();

    .react-daterange-picker__inputGroup__input {
      color: $textColor;
      @include shared.transition-color();
    }

    .react-daterange-picker__button__icon {
      stroke: $textColor;
      @include shared.transition-color();
    }
  }
}

.search-box__date-range-container {
  .react-calendar__month-view__weekdays__weekday {
    color: #464646;
  }
}