body {
    -ms-overflow-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: white;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label.text-area-label {
    color: #4a6eff
}